div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.iconify.iconify--logos {
  animation: spin 3s linear infinite;
}

.iconify.iconify--logos:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
