.theme-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toggle-theme {
  position: relative;
  padding: 1rem;
  font-size: large;
  text-transform: uppercase;
  background-color: rgb(163, 95, 219);
  color: rgb(255, 255, 255);
  border: white solid 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.toggle-theme::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: rgb(163, 95, 219);
  opacity: 0.3;
  transition: all 0.5s ease;
}

.toggle-theme:hover::before {
  left: 0;
}

.theme {
  font-size: large;
  text-transform: uppercase;
  transition: all 3s ease-in;
}
