.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 3.5rem);
  grid-template-columns: repeat(5, 3.5rem);
  gap: 1.5rem;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: white solid 0.5rem;
  border-radius: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 1rem;
}

.present {
  background-color: yellow;
}

.absent {
  background-color: lightgray;
}

.correct {
  background-color: green;
}
