.game-grid {
  display: grid;
  grid-template-rows: repeat(6, 3.5rem);
  gap: 1rem;
}

.word-row {
  display: grid;
  grid-template-columns: repeat(5, 3.5rem);
  gap: 1rem;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.letter.absent {
  background-color: gray;
  color: white;
}

.letter.present {
  background-color: yellow;
  color: black;
}

.letter.correct {
  background-color: green;
  color: white;
}
